[submodule "frameworks/projects/starling/Starling-Framework"]
	path = frameworks/projects/starling/Starling-Framework
	url = https://github.com/Gamua/Starling-Framework.git
[submodule "frameworks/projects/feathers/feathers"]
	path = frameworks/projects/feathers/feathers
	url = https://github.com/feathersui/feathersui-starling.git
